
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.line {
  padding: 1em;
  font-family: 'Nanum Myeongjo', serif;
  margin: 0 auto; 
  font-size: 2em;
  text-align: center; 
  overflow: hidden; 
  /* border-right: .05em solid black;*/
  white-space: nowrap; 
  animation: 
    typewriter 3.5s steps(40, end), 
    blinkTextCursor .75s step-end;
}

@keyframes typewriter {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinkTextCursor {
  from, to { border-color: transparent }
  50% { border-color: black; }
}