
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.line {
  padding: 1em; /* 안쪽 여백 */
  font-family: 'Nanum Myeongjo', serif;
  margin: 0 auto; /*바깥 여백*/
  font-size: 2em;
  text-align: center; /* 텍스트 가운데 정렬*/
  overflow: hidden; /* 텍스트 블록에 맞게 텍스르 자름 */
  /* border-right: .05em solid black; blinkTextCursor 색상 */
  white-space: nowrap; /* 텍스트 블록 넘어가도록 */
  animation: 
    typewriter 3.5s steps(40, end), /* 3.5초 동안 40 단계에 걸쳐서 변화한다*/
    blinkTextCursor .75s step-end;
}

@keyframes typewriter {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinkTextCursor {
  from, to { border-color: transparent }
  50% { border-color: black; }
}