a {
  text-decoration: none;
}
.link {
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.background {
  background-image: url(./natureyoga.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}